<div class="col-md-1 like-block row-centered">
<% user = User.find(workout.user_id) %>

<% if current_user.liked? workout  %>
	<%= form_tag unlike_path(workout: workout, username: user.username),  method: :post, :authenticity_token => true, remote: true, class: "unlike-submit" do %>
		<%= hidden_field_tag 'workout_user', user.id %>
	<% end %>	
<% else %>
	<%= form_tag like_path(workout: workout, username: user.username),  method: :post, :authenticity_token => true, remote: true, class: "like-submit" do %>
		<%= hidden_field_tag 'workout_user', user.id %>
	<% end %>	
<% end %>

<% if current_user.liked? workout  %>
<span class="glyphicon glyphicon-heart red unlike" ></span>
<% else %>
<span class="glyphicon glyphicon-heart-empty like" ></span>
<% end %>

<h4><small><%= workout.votes_for.size %></small></h4>
</div>


