
<% if user_signed_in? %>




<% else %>
	<div class="jumbotron index-page">
	<div class="container">

	<div class="col-md-10 col-md-offset-4">
	<div class="index-text">
	<p>Begin Your Journey</p>
	</div>
	<br>
	</div>

	<div class="col-md-6 ">


	

	<div class="col-md-6">
	<div class="thumbnail">
	<%= image_tag("zyzz-before.png") %>
	</div>
	<div class="thumbnail">
	<%= image_tag("zyzz-after.png") %>
	</div>
	</div>


	</div>



	<div class="col-md-2 col-md-offset-4 sign-in-up">
	<div class="col-md-12 gray-background">
	<br>
	<%= form_for(:user, :url => session_path(:user)) do |f| %>
	  <%= f.text_field :login, placeholder: "Username / Email", class: "form-control" %>
	  <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
	  <%= f.check_box :remember_me %>
	  <%= f.label :remember_me %>
	  <%= f.submit 'Sign in', class: "btn btn-info form-control" %>
	  <%= link_to "Forgot your password?", new_password_path(:user) %>
	<% end %>
	<hr>
	</div>

	<div class="col-md-12 gray-background">
	<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
	  <%= devise_error_messages! %>

	  <div class="field">
	    <%= f.text_field :username, placeholder: "Username", autofocus: true, class: "form-control" %>
	  </div>

	  <div class="field">
	    <%= f.email_field :email, placeholder: "Email", class: "form-control" %>
	  </div>

	  <div class="field">
	    <% if @minimum_password_length %>
	    <em>(<%= @minimum_password_length %> characters minimum)</em>
	    <% end %>
	    <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
	  </div>

	  <div class="field">
	    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password confirmation", class: "form-control" %>
	  </div>

	  <div class="actions">
	  	<br>
	    <%= f.submit "Sign up", class: "btn btn-danger form-control" %>
	  </div>
	  <br>
	<% end %>

	</div>
	</div>


	</div>
	</div>
<% end %>
