
<%= render 'users/profile_images/transformation' %>


<div class="container light-background">

	<div class="col-md-6 col-md-offset-5">
		<h2>
		<%= @user.username %>&nbsp;
		
		<% if user_signed_in? %>
			<% if not current_user %>
				<span class="btn btn-default">Follow</span>		
		
				<span class="glyphicon glyphicon-option-horizontal margin" style="cursor:pointer" data-toggle="modal" data-target=".user-modal"></span>	
			<% end %>
		<% else %> 
			<%= link_to "Follow", new_user_session_path, class: "btn btn-default" %>
		<% end %>

		
	</h2>
	</div>

	<div class="col-md-6 col-md-offset-4">
		<div class="user-stats">
			<h3><small>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<b><%= @user.workouts.count %></b> sessions
			&nbsp;
			<b>0</b> followers
			&nbsp;
			<b>0</b> following
			</small></h3>
		</div>
	</div>
	
	<br><br><br><br>

	
	<div class="col-md-10 col-md-offset-1">
	<hr>
	<%= render 'users/before_after_stats/stats' %>
	<hr>
	</div>

	<%= render 'users/workouts/feed' %>


</div>

<% if user_signed_in? %>
<div class="modal fade user-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

    	<%= form_tag flag_user_path(current_user),  method: :post, :authenticity_token => true, remote: true do %>

				<%= button_tag "Submit", class: "btn btn-default btn-lg col-md-12" do %>
					<span class="glyphicon glyphicon-flag" aria-hidden="true" selected></span> Report Inapproriate Image
				<% end %>
			<% end %>

			<%= form_tag block_user_path(current_user),  method: :post, :authenticity_token => true, remote: true do %>
				<button type="button" class="btn btn-default btn-lg col-md-12">
  				<div style="color:Red;">Block User</div>
				</button>
			<% end %>

				<div class="col-md-12" style="background-color:White;"><br><br></div>

				<button type="button" class="btn btn-default btn-lg col-md-12" data-dismiss="modal" aria-hidden="true">Cancel</button>
     	
    </div>
  </div>
</div>
<% end %>



























