<div class="container">
<div class="col-md-4 col-md-offset-4">
<br>
<%= devise_error_messages! %>
<h2>Log in</h2>
<br>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.text_field :login, placeholder: "Username / Email", autofocus: true, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.button "Log in", class: "btn btn-info form-control", 'data-disable-with' => "<img src='/assets/ajax-loader.gif' alt='Loading...' />" %>
  </div>
<% end %>
<br><hr>
<%= render "devise/shared/links" %>

</div>
</div>
