<div class="container">
<% if params[:controller] == 'users' && params[:action] == 'index' && !user_signed_in? %>

<% else %>
<hr>
<% end %> 

<div class="col-md-6 col-md-offset-4">


Milonos © 2016
&nbsp;<%= link_to "About", about_path %>
&nbsp;<%= link_to "Contact", contact_path %>
&nbsp;<%= link_to "Terms", terms_path %>
&nbsp;<%= link_to "Donate", donate_path %>
&nbsp;&nbsp;
&nbsp;<%= link_to image_tag("fb-logo.png"), "https://www.facebook.com/Milonos-1738211809740892" %>
&nbsp;<%= link_to  image_tag("twitter-logo.png"), "https://twitter.com/milonoshq" %>
&nbsp;<%= link_to image_tag("instagram-logo.png"), "https://www.instagram.com/milonoshq/" %>
<br><br>


</div>
<br><br><br><br><br>
</div>