
<hr>
<div class="col-md-12">
<div class="col-md-4 col-md-offset-4">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;
Milonos © 2016
&nbsp;<%= link_to "About", new_user_session_path %>
&nbsp;<%= link_to "Contact", new_user_session_path %>
&nbsp;<%= link_to "Terms", new_user_session_path %>
&nbsp;<%= link_to "Donate", new_user_session_path %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br><br>
</div>
<div class="col-md-4 col-md-offset-5">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<%= link_to image_tag("fb-logo.png"), "https://www.facebook.com/Milonos-1738211809740892" %>
&nbsp;<%= link_to  image_tag("twitter-logo.png"), "https://twitter.com/milonoshq" %>
&nbsp;<%= link_to image_tag("instagram-logo.png"), "https://www.instagram.com/milonoshq/" %>
</div>
</div>
<br><br><br><br><br>