<div class="container">
<header>

<% if params[:controller] == 'users' && params[:action] == 'index' && !user_signed_in? %>
<div class="navbar navbar-nav navbar-landing navbar-fixed-top red-background">
	<div class="navbar-brand navbar-header">

	<%= link_to image_tag("smtaurus3.png"), root_path %>

	</div>

</div>
<% else %>

<div class="navbar navbar-nav navbar-fixed-top header navbar-default">
	<div class="container">
	

	<div class="navbar-brand navbar-header">


	<%= link_to image_tag("smtaurus3.png"), root_path %>

	


	</div>

	<% if user_signed_in? %>
		<ul class="nav navbar-nav navbar-right">
			<% if current_user %>
			<li><a href="#" class="glyphicon glyphicon-envelope btn btn-default" style="cursor:pointer" data-toggle="modal" data-target=".suggestion-box-modal"> Suggestion Box</a></li> 
			<% end %>
			<li><%= link_to current_user.username, current_user %></li>
			<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
		</ul>

		<% if params[:username] != current_user.username && params[:id] %>

				<ul class="nav navbar-nav navbar-left">
					<li>
					<%= link_to user_path(params[:username]) do %>
						<span class="glyphicon glyphicon-chevron-left"></span>				
						<%= params[:username] %>
					<% end %>
					</li>
				</ul>

		<% elsif params[:username].present? %>
			<ul class="nav navbar-nav navbar-left">
				<li>
				<%= link_to root_path do %>
					<span class="glyphicon glyphicon-chevron-left"></span>				
					Feed
				<% end %>
				</li>
			</ul>
		<% end %>

		<ul class="nav navbar-nav navbar-left nopadding verticalLine">

			<li>
			<%= link_to('javascript:void(0)', :id => 'search-input', style: "") do %>
			<input class="typeahead-username form-control" type="text" autocomplete="off" placeholder="Search">
			<% end %>
			</li>
		</ul>

	<% else %>
		<ul class="nav navbar-nav navbar-right">
			<li><%= link_to "Login", new_user_session_path %></li>
			<li><%= link_to "Signup", new_user_registration_path %></li>
		</ul>

	<% end %>

	</div>
</div>

</header>

<% if current_user %>
<div class="modal fade suggestion-box-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

    		<%= form_tag add_suggestion_path(current_user),  method: :post, :authenticity_token => true, remote: true do %>

				
    		<div class="modal-body">
				<div class="" style="background-color:White;">
					
				<div class="control-group">
					
					<%= text_field_tag :subject, nil, placeholder: "Subject...", class: "form-control" %>
	

					<div class="controls">
					<%= text_area_tag :body, nil, placeholder: "Explain your suggestion...", class: "form-control" %>
					</div>
				</div>

					
				</div>
				</div>

				<div class="modal-footer">
					<%= button_tag "Submit", class: "btn btn-info btn-lg col-md-12"  %>

					</div>
				<% end %>

     	
    </div>
  </div>
</div>
<% end %>

<% end %>
</div>

