<!DOCTYPE html>
<html>
<head>
  <title>Milonos</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= include_gon %>
  <%= render 'layouts/shim' %>
</head>
<body>
<div class="" data-no-turbolink>
	<%= render 'layouts/header' %>
  <%= render 'layouts/notices' %>
	<%= yield %>
	<%= render 'layouts/footer' %>
</div>
</body>
</html>

